PORT=5000
# For local MongoDB (if installed and started):
# MONGO_URI=mongodb://127.0.0.1:27017/ketero

# For MongoDB Atlas:
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/ketero?retryWrites=true&w=majority

JWT_SECRET=ketero_secret_key

# Chapa Credentials
CHAPA_SECRET_KEY=CHASECK_TEST-xxx...
CHAPA_WEBHOOK_SECRET=your_chapa_webhook_secret_hash

# Telebirr Credentials
TELEBIRR_APP_ID=ce83aaa3...
TELEBIRR_APP_KEY=a8955b02...
TELEBIRR_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n..."
TELEBIRR_MERCHANT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n..."
TELEBIRR_SHORT_CODE=123456
TELEBIRR_NOTIFY_URL=https://api.yourdomain.com/api/payments/telebirr/webhook

# Gmail SMTP Email OTP Transporter
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_character_gmail_app_password
